.setting_Top{
    display:flex;
    justify-content: space-around;

    margin: 4% 4%;
}
.setting_top_bar{
    width: 250px;
    padding-top: 5px;
}
.bg-barColor{
    background-color: #E96479;
}
.setting_top_text{
    color:#7DB9B6;

    font-family: Rajdhani;
    font-weight: 600;
}
.setting_content_container{
    display: flex;
    justify-content: center;
    margin-top: 7%;
}
.setting_input{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    margin-right:80px;
}

.setting_standard{
    background-color: #7DB9B6;
    border: none;
    color: whitesmoke;
    
    width: 70px; height: 40px;
    margin-bottom: 10px;
    font-size: 20px; font-family:Rajdhani; font-weight: 600;
}

.setting_editmode{
    background-color: #E96479;
    border: none;
    color: whitesmoke;
    
    width: 70px; height: 40px;
     margin-bottom: 10px;
    font-size: 20px; font-family:Rajdhani; font-weight: 600;
}


.setting_content_1{
    width : 540px;
    height: 50px;
    padding: 0 20px;

    font-family: Rajdhani;
    color: #4D455D;
    font-size: 1.5em;
    

    border: none;

    margin-bottom: 35px;
}

.setting_content_2 input{
    width : 480px;
    height: 40px;
    padding-bottom: 0px;
}

.setting_goal_container{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;

    width: 250px;
    height: 350px;
    background-color: #4D455D;

    color: #F5E9CF;
}
.setting_editmode_goals{
    display: flex;
    height: 30px;
}
.setting_editmode_goals input{
    margin-right: 10px;
 
}


.setting_home_btn{

    position: absolute;
    bottom: 100px;
    left: 20%;

    width: 240px;
    height: 50px;

    margin-top: 30px;

    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-family: Rajdhani;
    font-weight: 500;
    color: whitesmoke;

    background-color: #4D455D;
    border-radius: 55px;

    cursor: pointer ;
}
.setting_main_btn{
    position: absolute;
    bottom: 100px;
    left: 40%;

    width: 240px;
    height: 50px;

    margin-top: 30px;

    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-family: Rajdhani;
    font-weight: 500;
    color: whitesmoke;

    background-color: #4D455D;
    border-radius: 55px;

    cursor: pointer ;
}